body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  color: hsla(0, 0%, 8%, 1);
  font-size: 16px;
  line-height: 1.8;
}

pre {
  overflow-x: scroll;
  border: 1px solid hsla(0, 0%, 8%, 0.2);
  padding: 1rem;
}

a {
  color: hsla(203, 100%, 49%, 1);
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
